@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slick-prev:before,
.slick-next:before {
  color: rgb(230, 0, 0) !important;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

input,
textarea {
  border: 1px solid grey;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;

  & .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  & .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  & button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 7px 0 10px 0;
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & button.prev {
    left: 10px;
  }

  & button.next {
    right: 10px;
  }
}


dialog.tipo_confirmacion{
  border-radius: 2rem;
  
  & section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;

    & h2{
      font-weight: bold;
      text-align: center;
    }

    & span{
      text-align: center;
    }

    & div{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      align-items: center;

     & button{
        min-width: 2rem;
        width: 20%;
        height: 2rem;
        border-radius: 1rem;
      }
    }

  }
}